# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Chrome bot cache / driver data
chrome_bot/
BrowserMetrics-*
ChromeFeatureState
*.binarypb
*.fingerprint
*.pma
*.json

# Configs
email.yaml
config.yaml



# Output files with sensitive data
*.log
*.csv
email.yaml
blocklist/blocked_emails.txt
blocked_emails.txt
email_notifier.py


# Resumes (personal documents)
resumes/

# IDE files
.vscode/
.idea/
